In [1]:
from sklearn_pandas import DataFrameMapper, cross_val_score

In [2]:
import pandas as pd
import numpy as np
import sklearn.preprocessing, sklearn.decomposition, \
sklearn.linear_model, sklearn.pipeline, sklearn.metrics
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
data = pd.DataFrame({'pet':      ['cat', 'dog', 'dog', 'fish', 'cat', 'dog', 'cat', 'fish'], 
                     'children': [4., 6, 3, 3, 2, 3, 5, 4],
                     'salary':   [90, 24, 44, 27, 32, 59, 36, 27]})

In [4]:
data

   children   pet  salary
0       4.0   cat      90
1       6.0   dog      24
2       3.0   dog      44
3       3.0  fish      27
4       2.0   cat      32
5       3.0   dog      59
6       5.0   cat      36
7       4.0  fish      27

In [5]:
mapper = DataFrameMapper([
    ('pet', sklearn.preprocessing.LabelBinarizer()),
    (['children'], sklearn.preprocessing.StandardScaler())
])

In [8]:
data[['children']]

   children
0       4.0
1       6.0
2       3.0
3       3.0
4       2.0
5       3.0
6       5.0
7       4.0